<div>
  <Header class="row block-header text-center block-content">
    <div class="col-sm-3"><h4>crew.ai</h4></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
      <button class="btn btn-default">Product</button>
      <button class="btn btn-default">Pricing</button>
      <button class="btn btn-default">Sign up</button>
      <button class="btn btn-default">Register</button>
    </div>
  </Header>
  <div class="row block-product block-content">
    <div class="block-product__bg">
      <img src="../../../app/shared/styles/images/product.png" alt="product-error-img">
    </div>
    <div class="col-sm-12 text-center block-product__ads">
      <h4>Al powered employee engagement system</h3>
      <h4 class="next-line-ads">to boost perfomance of your team</h3>
      <!-- <div> -->
        <button class="btn btn-success m-t-5">GET STARTED NOW</button>
      <!-- </div> -->
    </div>
  </div>
    <h3 class="text-center">
      Crew.ia ineracts with employees through chat bot and provides team leaders
    </h3>
    <h3 class="text-center next-line-ads">
      with a complete picture of employee satisfaction
    </h3>











</div>
<!-- <div class="text-center">
<shared-directive></shared-directive>
<div some-directive></div>
</div> -->
