
<div class="main-wrapper">
  <Header class="row header text-center row-block">
    <div class="col-sm-3"><h4>crew.ai</h4></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
      <button class="btn btn-default">Product</button>
      <button class="btn btn-default">Pricing</button>
      <button class="btn btn-default">Sign up</button>
      <button class="btn btn-default">Register</button>
    </div>
  </Header>
  <div class="row row-block product-header">
    <div class="col-sm-12 col-md-12 text-center product-header__ads">
      <h3>Al powered employee engagement system</h3>
      <h3 class="next-line-ads">to boost perfomance of your team</h3>
      <button class="btn btn-success">GET STARTED NOW</button>
    </div>
  </div>
  <div class="row row-block next-row section-features text-center">
    <h3 class="text-center next-row">Crew.ia ineracts with employees through chat bot and provides team leaders</h3>
    <h3 class="text-center next-line-ads">with a complete picture of employee satisfaction</h3>
    <div class="col-sm-3"></div>
    <div class="col-sm-2 section-features__col">
      <img src="./app/shared/styles/images/features/1.png" alt="measure satisfaction">
      <p>Measure satisfaction</p>
      <p>Improve employee <br> satisfaction through day to day <br> interaction</p>
    </div>
    <div class="col-sm-2 section-features__col">
      <img src="./app/shared/styles/images/features/2.png" alt="stay on top of your team">
      <p>Stay on top of your team</p>
      <p>Be aware of emotional intention of a <br> particular employee as well as the whole <br>
        team to reduce employee turnover
      </p>
    </div>
    <div class="col-sm-2 section-features__col">
      <img src="./app/shared/styles/images/features/3.png" alt="know what to do">
      <p>Know what to do</p>
      <p>Get prediction and <br> recommendations how to boost <br>
        engagement of your team
      </p>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row row-block next-row section-about">
    <h3>Personal AI driven HR bot to <br>
        ensure everyone is heard.</h3>
    <h4>Employee can easily interact with chat bot <br>
        by answering day to day question, <br>
        leaving anonymous feedback, <br>
        voting for the favorite activities and<br>
        see emotional attitude of thier team.</h4>
  </div>
  <div class="row row-block section-price text-center">
    <h3>Crew.ai - employee engagement system is free</h3>
    <h4>If you have more than 100 employees, please talk to us at premium@crew.ai</h4>
  </div>
  <div class="row row-block setion-integration text-center">
    <h3>Built in integrations system</h3>
    <h4>Crew.ai works how you like and where you like - in your favorite enviroment</h4>
    <div class="col-sm-3"></div>
    <div class="col-sm-2 setion-integration__col next-row">
      <img src="./app/shared/styles/images/integration/slack.png" alt="slack">
      <p>Slack</p>
    </div>
    <div class="col-sm-2 setion-integration__col next-row">
      <img src="./app/shared/styles/images/integration/messenger.png" alt="messenger">
      <p>Messenger</p>
    </div>
    <div class="col-sm-2 setion-integration__col next-row">
      <img src="./app/shared/styles/images/integration/telegram.png" alt="telegram">
      <p>Telegram</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row row-block product-footer">
    <div class="col-sm-12 col-md-12 product-footer__wrapper text-center">
      <h3>Al powered employee engagement system</h3>
      <h3 class="next-line-ads">to boost perfomance of your team</h3>
      <button class="btn btn-success">GET STARTED NOW</button>
    </div>
  </div>






</div>
<!-- <div class="text-center">
<shared-directive></shared-directive>
<div some-directive></div>
</div> -->
